@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Default Code */

.text-primary{
    color: #FD6E0A;
}

.bg-primary{
    background: #FD6E0A;
}
.container{
    width: 80%;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 35px;
    font-weight: 600;
    margin: 15px 0px;
}

.description{
    color: #797878;
    font-size: 17px;
    font-weight: 300;
    margin: 10px 0;
}
   
.btn{
    background: #FD6E0A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px ;
    cursor: pointer;
}


/* Header */

header{
    background-color: #FFF8F3;
    background-image: url('/assets/header_bg.png'), url('/assets/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    min-height: 100%;
}

/* Navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav .logo h3{
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
}


ul{
    display: flex;
    align-items: center;
}

ul li{
    list-style: none;
    margin: 0 15px;
}

ul li a{
    text-decoration: none;
    font-size: 18px;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .content-side h4{
    font-size: 25px;
    font-weight: normal;
}

.banner .content-side h1{
    font-size: 60px;
}

.banner .content-side p{
    color: #5f5e5e;
}

/* About */

.about{
    background-color: #FFF8F3;
    margin: 150px;
    padding: 45px 80px;
    border-radius: 10px;
    text-align: center;
}

.about .info-box{
    margin: 20px 0px;
    background-color: #e3e0e0f4;
    padding: 15px;
    border-radius: 8px;
}

.about .info-box h6{
    color:#5f5e5e;
    font-weight: normal;
    font-size: 15px;
}

/* What i do */

.what_i_do{
    text-align: center;
}

.what_i_do .what_i_do_skill{
    margin: 60px 0px;
    text-align: left;
}

.what_i_do .skill-box{
    border: 2px solid black;
    border-radius: 8px;
    margin: 0 10px;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s all ease;
}

.what_i_do .what_i_do_skill h3{
    margin: 10px 0;
}

.what_i_do .skill-box:hover{
    margin-top: -15px;
}


/* Reusme */
.resume{
    margin: 50px 0;
}
.resume-box{
    margin: 25px 0;
}
.resume h1{
    text-align: center;
    margin: 40px 0px;
}

.resume h2{
    margin: 20px 0;
    font-size: 25px;
}

.resume h3{
    color: #3b3a3a;
    
}

.resume h4{
    color: #5f5e5e;
    font-size: 14px;
}
.resume .work_expereince{
    margin-left: 60px;
}
/* Form section */

.contact {
    background-color: #FFF8F3;
    padding: 50px 0;
}

.contact .contact_wrap{
    display: flex;
    justify-content: space-between;

}

.contact .content_side{
    width: 50%;
}
.contact .form_side{
    width: 50%;
}
.contact input , textarea{
    width: 100%;
    border:  none;
    display: block;
    margin: 10px 0;
    padding: 18px;
    border-radius: 5px;
    font-size: 18px;

}
/* Footer */

footer p{
    color: #5f5e5e;
    padding: 20px 0px;
    text-align: center; 
    background-color: #e8e8e8;

}